$gray: #8b8687;
$black: #333030;
$white: #e3dede;
$yellow: #f6ea8c;
$lightGray: #a3a1a1;
$red: #cf253a;

* {
  line-height: 1;
}

body  {
  background-color: $gray;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
}

a, input, button, [type=submit] {
  border: 0;
  outline: none;
}

header {
  background-color: $black;
  padding: 0 1rem;
  overflow: hidden;
  .logo, nav, .user {
    display: inline-block;
  }
  .logo {
    width: 150px;
    a {
      font-size: 1.5rem;
    }
  }
  .user {
    float: right;
    padding: 18px 0;
    a {
      display: inline-block;
      border: 1px solid $white;
      border-radius: 1000px;
      padding: .5rem 1rem;
      margin-left: 2rem;
      &.login {
        color: $yellow;
        border-color: $yellow;
      }
    }
  }
  a {
    color: $white;
  }
  nav a {
    line-height: 70px;
    margin-right: 1rem;
    display: inline-block;
  }
}

aside {
  background-color: $lightGray;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 350px;
  z-index: -1;
  padding: 2rem;
  padding-top: calc(70px + 2rem);
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

/*injector*/
@import 'auth/auth.css';
@import 'games/games.css';
/*endinjector*/
