.games-container {
  padding-right: 350px;
  .games-list {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    section {
      /*background-color: $lightGray;*/
      height: 200px;
      color: $white;
      width: 31%;
      margin: 1% 1%;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      position: relative;
      &:not(.games-new) {
        background-image: url('http://www.theportlandarms.co.uk/UserFiles/Image/Poker/PortlandPokerLogo.gif');
      }
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center center;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(51, 48, 48, .5)
      }
      &.games-new {
        font-size: 5rem;
        a {
          line-height: 190px;
          color: $yellow;
          z-index: 2;
          position: relative;
        }
      }
      .games-rating {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        color: $yellow;
        font-size: .8rem;
        padding: 1rem;
        span {
          cursor: pointer;
        }
      }
      .games-time {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        color: $white;
        font-size: .8rem;
        padding: 1rem;
      }
      .games-heading {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(227, 222, 222, .5);
        line-height: 3rem;
        color: $yellow;
      }
    }
  }
  aside {
    form {
      .rating {
        color: $white;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        label {
          margin-bottom: 1rem;
        }
      }
      .number-input {
        button, input {
          display: inline-block;
          vertical-align: middle;
        }
        input {
          width: 3rem;
          text-align: center;
          padding-left: .6rem;
        }
        button {
          border: 1px solid $white;
          background-color: transparent;
          color: $white;
          border-radius: 100%;
          width: 20px;
          height: 20px;
          font-size: .8rem;
          padding: 0;
          vertical-align: 15px;
          line-height: 1;
        }
      }
      .actions {
        text-align: center;
        button, a[type=button] {
          display: inline-block;
          padding: .2rem;
          margin: .5rem;
        }
      }
    }
    .message-info {
      margin-top: 25vh;
      text-align: center;
      p {
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 1.2rem;
        color: $white;
      }
      button {
        background-color: transparent;
        border: 1px solid $yellow;
        color: $yellow;
        border-radius: 1000px;
        font-size: 1.2rem;
        padding: .6rem 1.5rem;
        vertical-align: bottom;

      }
    }
  }
}
