<div class="games-container">
  <div class="games-list">
    <section class="games-new pointer">
      <a data-ui-sref=".edit({ id: 0 })">+</a>
    </section>
    <section
      data-ng-repeat="game in (gamesList = games.list | filter:search) | orderBy:sortType:false"
      data-ng-style="{ 'background-image': 'url(' + game.imageUrl + ')' }">
      <div class="games-rating">
        <span data-ng-bind="game.rating >= 5 ? '&#9733;' : '&#9734;'"></span>
        <span data-ng-bind="game.rating >= 4 ? '&#9733;' : '&#9734;'"></span>
        <span data-ng-bind="game.rating >= 3 ? '&#9733;' : '&#9734;'"></span>
        <span data-ng-bind="game.rating >= 2 ? '&#9733;' : '&#9734;'"></span>
        <span data-ng-bind="game.rating >= 1 ? '&#9733;' : '&#9734;'"></span>
      </div>
      <div class="games-time">
        <span>&#9719;&nbsp;<span data-ng-bind="game.time"></span></span>
      </div>
      <a
        class="games-heading"
        data-ng-bind="game.name"
        data-ui-sref=".edit({ id: game.$id })"></a>
    </section>
  </div>
  <aside>
    <div class="message-info" data-ng-hide="games.formOpen || gamesList.length">
      <p>You don't play any game now</p>
      <button>Let's have some fun!</button>
    </div>
    <div class="games-filters" data-ng-hide="games.formOpen || !gamesList.length">
      <form action="">
        <label for="search">Search</label>
        <input
          type="search"
          data-ng-model="search"
          placeholder="e.g.: Pocker"
          id="search">
        <label for="sortBy">Sort By</label>
        <select
          id="sortBy"
          data-ng-model="sortType">
          <option value="" disabled="">Select criteria</option>
          <option value="timestamp">Date</option>
          <option value="rating">Rating</option>
          <option value="time">Hours spent</option>
        </select>
      </form>
    </div>
    <div data-ui-view></div>
  </aside>
</div>
