<form
  name="gamesForm"
  role="form"
  data-ng-submit="gamesForm.$valid && edit.saveGame(edit.current);"
  novalidate>
  <div data-ng-class="{ 'error': gamesForm.name.$invalid && edit.submitted }">
    <label for="name">Game Name</label>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="e.g.: Poker"
      data-ng-model="edit.current.name"
      required>
  </div>
  <div class="rating">
    <label>Rating</label>
    <span
      class="pointer"
      data-ng-click="edit.current.rating = 5;"
      data-ng-bind="edit.current.rating >= 5 ? '&#9733;' : '&#9734;'">
    </span>
    <span
      class="pointer"
      data-ng-click="edit.current.rating = 4;"
      data-ng-bind="edit.current.rating >= 4 ? '&#9733;' : '&#9734;'">
    </span>
    <span
      class="pointer"
      data-ng-click="edit.current.rating = 3;"
      data-ng-bind="edit.current.rating >= 3 ? '&#9733;' : '&#9734;'">
    </span>
    <span
      class="pointer"
      data-ng-click="edit.current.rating = 2;"
      data-ng-bind="edit.current.rating >= 2 ? '&#9733;' : '&#9734;'">
    </span>
    <span
      class="pointer"
      data-ng-click="edit.current.rating = 1;"
      data-ng-bind="edit.current.rating >= 1 ? '&#9733;' : '&#9734;'">
    </span>
  </div>
  <div data-ng-class="{ 'error': gamesForm.url.$invalid && edit.submitted }">
    <label for="name">Background Image URL</label>
    <input
      type="url"
      id="url"
      name="url"
      placeholder="e.g.: http://www.somehost.com/logo.png"
      data-ng-model="edit.current.imageUrl">
  </div>
  <div class="number-input">
    <label for="name">Spent Hours</label>
    <button
      data-ng-click="edit.current.time = edit.current.time + 1;"
      type="button">
      +
    </button>
    <input
      type="number"
      id="time"
      name="time"
      placeholder="0"
      data-ng-model="edit.current.time">
    <button
      data-ng-click="edit.current.time = edit.current.time - 1;"
      type="button">
      -
    </button>
  </div>
  <div class="actions">
    <button
      type="submit"
      data-ng-click="edit.submitted = true;">
      Save
    </button>
    <a
      type="button"
      class="white"
      data-ng-click="games.formOpen = false;"
      data-ui-sref="games">
      Cancel
    </a>
    <a
      type="button"
      class="delete pointer"
      data-ng-show="edit.current.$id"
      data-ng-click="edit.showWarning = true;">
      Delete
    </a>
    <div class="warning-message" data-ng-show="edit.showWarning">
      <p>Are you sure you want to delete this game?</p>
      <a
        type="button"
        class="pointer"
        data-ui-sref="games"
        data-ng-click="edit.deleteGame(edit.current);">
        Yes
      </a>
      <a
        type="button"
        class="white pointer"
        data-ng-click="edit.showWarning = false;">
        No
      </a>
    </div>
  </div>
</form>
