section.auth-container {
  background-color: $lightGray;
  width: 350px;
  box-sizing: border-box;
  padding: 2rem;
  margin: 25vh auto;
  form {
    label {
      display: block;
      color: $black;
      font-size: small;
      color: $yellow;
    }
    .error {
      label {
        color: $red;
      }
      input {
        border-color: $red;
      }
    }
    input {
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid $white;
      color: $white;
      display: block;
      width: 100%;
      outline: none;
      line-height: 2.5;
      margin-bottom: 2rem;
    }
    button[type=submit] {
      background-color: transparent;
      border: 1px solid $yellow;
      color: $yellow;
      border-radius: 1000px;
      width: 100px;
      line-height: 2;
      margin: 0 auto;
      display: block;
    }
  }
  ::-webkit-input-placeholder {
    color: $white;
  }
  ::-moz-placeholder {
    color: $white;
  }
  :-moz-placeholder {
    color: $white;
  }
  :-ms-input-placeholder {
    color: $white;
  }

  ::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  ::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  :-moz-placeholder {
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  :-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
