* {
  line-height: 1;
}

body  {
  background-color: #8b8687;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
  border: 0;
  outline: none;
}

header {
  background-color: #333030;
  padding: 0 1rem;
  overflow: hidden;
}

header .logo, header nav, header .user {
  display: inline-block;
}

header .logo {
  width: 150px;
}

header .user {
  float: right;
  padding: 18px 0;
}

header .user a {
  display: inline-block;
  border: 1px solid #e3dede;
  border-radius: 1000px;
  padding: .5rem 1rem;
  margin-left: 2rem
}

header .user a.login {
  color: #f6ea8c;
  border-color: #f6ea8c;
}

header a {
  color: #e3dede;
}

header nav a {
  line-height: 70px;
  margin-right: 1rem;
  display: inline-block;
}

/*injector*/
section.auth-container {
  background-color: #a3a1a1;
  width: 350px;
  box-sizing: border-box;
  padding: 2rem;
  margin: 25vh auto;
}
section.auth-container form label {
  display: block;
  color: #333030;
  font-size: small;
  color: #f6ea8c;
}
section.auth-container form input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #e3dede;
  color: #e3dede;
  display: block;
  width: 100%;
  outline: none;
  line-height: 2.5;
  margin-bottom: 2rem;
}
section.auth-container form button[type=submit] {
  background-color: transparent;
  border: 1px solid #f6ea8c;
  color: #f6ea8c;
  border-radius: 1000px;
  width: 100px;
  line-height: 2;
  margin: 0 auto;
  display: block;
}
section.auth-container ::-webkit-input-placeholder {
  color: #e3dede;
}
section.auth-container ::-moz-placeholder {
  color: #e3dede;
}
section.auth-container :-moz-placeholder {
  color: #e3dede;
}
section.auth-container :-ms-input-placeholder {
  color: #e3dede;
}
section.auth-container ::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}
section.auth-container ::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}
section.auth-container :-moz-placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}
section.auth-container :-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}
section.auth-container input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
section.auth-container input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
section.auth-container input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
section.auth-container input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
/*endinjector*/
