* {
  line-height: 1;
}

body  {
  background-color: #8b8687;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
}

a, input, button, [type=submit], select {
  border: 0;
  outline: none;
}

header {
  background-color: #333030;
  padding: 0 1rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

header .logo, header nav, header .user {
  display: inline-block;
}

header .logo {
  width: 150px;
}

header .logo a {
  font-size: 1.5rem;
  line-height: 70px;
}

header .user {
  float: right;
  padding: 18px 0;
}

header .user a {
  display: inline-block;
  border: 1px solid #e3dede;
  border-radius: 1000px;
  padding: .5rem 1rem;
  margin-left: 2rem
}

header .user a.login {
  color: #f6ea8c;
  border-color: #f6ea8c;
}

header a {
  color: #e3dede;
}

aside {
  background-color: #a19d9d;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 350px;
  z-index: 0;
  padding: 2rem;
  padding-top: calc(70px + 2rem);
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}
.ng-hide {
  display: none !important;
}

.pagination {
  text-align: center;
}

.pagination button {
  background-color: transparent;
  border: 1px solid #e3dede;
  color: #e3dede;
  border-radius: 1000px;
  width: 100px;
  line-height: 2;
  margin: 0 auto
}

.pagination button[disabled=disabled] {
  color: #a19d9d;
  border-color: #a19d9d;
}

.pagination span {
  margin: 0 1rem;
  color: #e3dede;
}

form label {
  display: block;
  color: #333030;
  font-size: small;
  color: #f6ea8c;
}

form .error label {
  color: #cf253a;
}

form .error input {
  border-color: #cf253a;
}

form input, form select {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #e3dede;
  color: #e3dede;
  display: block;
  width: 100%;
  outline: none;
  line-height: 2.5;
  margin-bottom: 2rem;
  border-radius: 0;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form select {
  cursor: pointer;
}

form [type=submit], form button, form a[type=button] {
  background-color: transparent;
  border: 1px solid #f6ea8c;
  color: #f6ea8c;
  border-radius: 1000px;
  width: 100px;
  line-height: 2;
  margin: 0 auto;
  display: block;
}

form a[type=button].white {
  color: #e3dede;
  border-color: #e3dede;
}
::-webkit-input-placeholder {
  color: #e3dede;
}
::-moz-placeholder {
  color: #e3dede;
}
:-moz-placeholder {
  color: #e3dede;
}
:-ms-input-placeholder {
  color: #e3dede;
}

::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}
::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}
:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}
:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/*injector*/
section.auth-container {
  background-color: #a19d9d;
  width: 350px;
  box-sizing: border-box;
  padding: 2rem;
  margin: 25vh auto;
}
section.auth-container .error-message {
  margin-bottom: 2rem;
  text-align: center;
}
section.auth-container .error-message p {
  color: #cf253a;
  font-size: .9rem;
  margin: 0;
}
.games-container {
  padding-right: 350px;
}
.games-container .games-list {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}
.games-container .games-list section {
  height: 200px;
  color: #e3dede;
  width: 31%;
  margin: 1% 1%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
.games-container .games-list section .games-rating {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  color: #f6ea8c;
  font-size: .8rem;
  padding: 1rem;
}
.games-container .games-list section .games-rating span {
  cursor: default;
}
.games-container .games-list section .games-time {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: #e3dede;
  font-size: .8rem;
  padding: 1rem;
}
.games-container .games-list section .games-heading {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(227, 222, 222, .5);
  line-height: 3rem;
  color: #f6ea8c;
}
.games-container .games-list section:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(51, 48, 48, .5);
}
.games-container .games-list section.games-new {
  font-size: 5rem;
}
.games-container .games-list section.games-new a {
  line-height: 190px;
  color: #f6ea8c;
  z-index: 2;
  position: relative;
  display: block;
}
.games-container aside form .rating {
  color: #e3dede;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.games-container aside form .rating label {
  margin-bottom: 1rem;
}
.games-container aside form .number-input button, .games-container aside form .number-input input {
  display: inline-block;
  vertical-align: middle;
}
.games-container aside form .number-input input {
  width: 3rem;
  text-align: center;
  padding-left: .6rem;
}
.games-container aside form .number-input button {
  border: 1px solid #e3dede;
  background-color: transparent;
  color: #e3dede;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  font-size: .8rem;
  padding: 0;
  vertical-align: 15px;
  line-height: 1;
}
.games-container aside form .actions {
  text-align: center;
}
.games-container aside form .actions .warning-message {
  display: block;
  color: #e3dede;
}
.games-container aside form .actions .warning-message p {
  margin: 2rem 0;
  font-size: 1.1rem;
}
.games-container aside form .actions button, .games-container aside form .actions a[type=button] {
  display: inline-block;
  padding: .1rem;
  margin: .3rem;
  width: 80px;
}
.games-container aside form .actions button:last-child, .games-container aside form .actions a[type=button]:last-child {
  margin-right: 0;
}
.games-container aside form .actions button:first-child, .games-container aside form .actions a[type=button]:first-child {
  margin-left: 0;
}
.games-container aside form .actions button.delete, .games-container aside form .actions a[type=button].delete {
  color: #8b8687;
  border-color: #8b8687;
}
.games-container aside .message-info {
  margin-top: 25vh;
  text-align: center;
}
.games-container aside .message-info p {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: #e3dede;
}
.games-container aside .message-info button {
  background-color: transparent;
  border: 1px solid #f6ea8c;
  color: #f6ea8c;
  border-radius: 1000px;
  font-size: 1.2rem;
  padding: .6rem 1.5rem;
  vertical-align: bottom;
}
/*endinjector*/
