* {
  line-height: 1;
}

body  {
  background-color: #8b8687;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
}

a, input, button, [type=submit] {
  border: 0;
  outline: none;
}

header {
  background-color: #333030;
  padding: 0 1rem;
  overflow: hidden;
}

header .logo, header nav, header .user {
  display: inline-block;
}

header .logo {
  width: 150px;
}

header .logo a {
  font-size: 1.5rem;
}

header .user {
  float: right;
  padding: 18px 0;
}

header .user a {
  display: inline-block;
  border: 1px solid #e3dede;
  border-radius: 1000px;
  padding: .5rem 1rem;
  margin-left: 2rem
}

header .user a.login {
  color: #f6ea8c;
  border-color: #f6ea8c;
}

header a {
  color: #e3dede;
}

header nav a {
  line-height: 70px;
  margin-right: 1rem;
  display: inline-block;
}

aside {
  background-color: #a3a1a1;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 350px;
  z-index: -1;
  padding: 2rem;
  padding-top: calc(70px + 2rem);
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

/*injector*/
section.auth-container {
  background-color: #a3a1a1;
  width: 350px;
  box-sizing: border-box;
  padding: 2rem;
  margin: 25vh auto;
}
section.auth-container form label {
  display: block;
  color: #333030;
  font-size: small;
  color: #f6ea8c;
}
section.auth-container form .error label {
  color: #cf253a;
}
section.auth-container form .error input {
  border-color: #cf253a;
}
section.auth-container form input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #e3dede;
  color: #e3dede;
  display: block;
  width: 100%;
  outline: none;
  line-height: 2.5;
  margin-bottom: 2rem;
}
section.auth-container form button[type=submit] {
  background-color: transparent;
  border: 1px solid #f6ea8c;
  color: #f6ea8c;
  border-radius: 1000px;
  width: 100px;
  line-height: 2;
  margin: 0 auto;
  display: block;
}
section.auth-container ::-webkit-input-placeholder {
  color: #e3dede;
}
section.auth-container ::-moz-placeholder {
  color: #e3dede;
}
section.auth-container :-moz-placeholder {
  color: #e3dede;
}
section.auth-container :-ms-input-placeholder {
  color: #e3dede;
}
section.auth-container ::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}
section.auth-container ::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}
section.auth-container :-moz-placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}
section.auth-container :-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}
section.auth-container input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
section.auth-container input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
section.auth-container input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
section.auth-container input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.games-container {
  padding-right: 350px;
}
.games-container .games-list {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}
.games-container .games-list section {

  /*background-color: $lightGray;*/
  height: 200px;
  color: #e3dede;
  width: 31%;
  margin: 1% 1%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
.games-container .games-list section .games-rating {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  color: #f6ea8c;
  font-size: .8rem;
  padding: 1rem;
}
.games-container .games-list section .games-rating span {
  cursor: pointer;
}
.games-container .games-list section .games-time {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: #e3dede;
  font-size: .8rem;
  padding: 1rem;
}
.games-container .games-list section .games-heading {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(227, 222, 222, .5);
  line-height: 3rem;
  color: #f6ea8c;
}
.games-container .games-list section:not(.games-new) {
  background-image: url('http://www.theportlandarms.co.uk/UserFiles/Image/Poker/PortlandPokerLogo.gif');
}
.games-container .games-list section:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(51, 48, 48, .5);
}
.games-container .games-list section.games-new {
  font-size: 5rem;
}
.games-container .games-list section.games-new a {
  line-height: 190px;
  color: #f6ea8c;
  z-index: 2;
  position: relative;
}
.games-container aside .message-info {
  margin-top: 25vh;
  text-align: center;
}
.games-container aside .message-info p {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: #e3dede;
}
.games-container aside .message-info button {
  background-color: transparent;
  border: 1px solid #f6ea8c;
  color: #f6ea8c;
  border-radius: 1000px;
  font-size: 1.2rem;
  padding: .6rem 1.5rem;
  vertical-align: bottom;
}
/*endinjector*/
